{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 58
      },
      "loose": true
    }],
    "flow"
  ],
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
